<% title t('users.show.page_title') %>
<div class="row">
  <div id="sidebar" class="col-md-3 col-xs-12 text-center">
    <%= render partial: "profile" %>
    <div class="col-md-6 col-xs-12 text-left">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#edit_profile">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <%= t('users.show.profile') %>
      </button>
    </div>
    <div class="col-md-6 col-xs-12 text-right">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#change_password">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= t('users.show.password') %>
      </button>
    </div>
    <div class="col-xs-12" style="margin-top:20px">
      <%= link_to raw('<span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> ' + t(:result)), '#', class: "btn btn-success btn-block text-center" %>
    </div>

    <div class="col-xs-12" style="margin-top:20px">
      <%= link_to raw('<span class="glyphicon glyphicon-user" aria-hidden="true"></span>' + t(:follow)), followers_path, class: "btn btn-info btn-block text-center" %>
    </div>
  </div>
  <div id="content" class="col-md-9 col-xs-12 left-border">
    <%= render partial: "activities", locals: {activities: @activities} %>
  </div>
</div>

<div id="edit_profile" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= t('users.show.update_profile') %></h4>
      </div>
      <div class="modal-body row">
        <%= form_for current_user, html: { multipart: true } do |form| %>
          <div class="col-xs-4">
            <img src="<%= current_user.avatar.url %>" class="img-thumbnail col-md-10"/>
            <%= form.file_field :avatar %>
          </div>
          <div class="col-xs-8">
            <div class="form-group">
              <label for="exampleInputEmail1"><%= t('users.show.email_label') %></label>
              <%= form.email_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1"><%= t('users.show.name_label') %></label>
              <%= form.text_field :name, class: 'form-control' %>
            </div>
          </div>
          <div class="col-xs-12 text-center">
            <div class="col-xs-4 col-xs-offset-2">
              <button type="submit" class=" col-xs-3 col-xs-offset-2 btn btn-primary  btn-block">
                <%= t('users.show.submit_button') %>
              </button>
            </div>
            <div class="col-xs-4">
              <button type="button" class=" col-xs-3 col-xs-offset-2 btn btn-default btn-block" data-dismiss="modal">
                <%= t('users.show.cancel_button') %>
              </button>
            </div>
          </div>
        <% end%>
      </div>
    </div>
  </div>
</div>

<div id="change_password" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t('users.show.change_password') %></h4>
      </div>
      <div class="modal-body">
        <%= form_for current_user, html: {multipart: true} do |form| %>
          <div class="field">
            <%= form.label :password %> <i><%= t('devise.registrations.password_message') %></i><br />
            <%= form.password_field :password, autocomplete: "off" %>
          </div>
          <div class="field">
            <%= form.label :password_confirmation %><br />
            <%= form.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          <div class="field">
            <%= form.label :current_password %> <i><%= t('devise.registrations.current_password_message') %></i><br />
            <%= form.password_field :current_password, autocomplete: "off" %>
          </div>
          <div class="actions">
            <%= form.submit t('users.show.submit_button'), class: "btn btn-primary" %>
            <%= form.button :cancel%>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
