<div class="col-md-12">
  <%= form_tag words_path, method: :get do %>

  <div class="col-md-offset-3 col-md-3 col-xs-12 text-center">
    <label for="category"><%= t(:categories) %></label>
     <%= collection_select(nil, :category_id, @categories, :id,:name, 
                              {prompt: false, selected: params[:category_id]},
                              {class: "form-control"}) %>
  </div>
  

  <div class="col-md-6 col-xs-12">
    
    <div class="col-xs-12" style="padding-top:40px">
      <% [:learn, :not_learn, :all].each do |filter| %>
      <label class="radio-inline">
        <%= radio_button_tag :filter, filter, params[:filter] == filter.to_s %>
        <%= t filter %>
      </label>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12 text-center" style="margin-top:20px">
      <div class="col-md-offset-3 col-md-6 col-xs-9">
        <%= submit_tag t(:filter), class: "btn btn-success btn-block"%>
      </div>
  </div>
  <% end %>

</div>

<h4><%= t(:total, total: @words.count) %> </h4>
<hr />

<%= will_paginate @words, renderer: BootstrapPagination::Rails %>
<div class="col-xs-12" style="margin-top:30px">
<% @words.each_with_index do |word, i| %>
  <div class="col-xs-3 <%= 'left-border' if 2 == i%4 %>">
    <div class="col-xs-6 text-right"><%= word.text_ja %></div>
    <div class="col-xs-6"><%= word.text_vn %></div>
  </div>
<% end %>
</div>
